{% extends "layout.html" %}

{% block title %} Estimates - Food Impact Calculator {% endblock %}
{% block content %}

    <h1> Total Impact of Food Consumption </h1>
    <hr>
    <p> This is only an estimate based on Kaggle Data </p>
    <div class="container"> 
        <h2>Your Total GreenHouse Emissions Are:</h2>
        <h3>{{ total }}</h3>
    </div>
    <br>
    <h3>Here's a breakdown of how much each food contributed</h3>
    <ul class="contribution-list">
        {% for cont in contributions %}
            <li>
                <div class="left-side">
                    <i class="bi bi-lightbulb-fill"></i>
                    <span class="food">{{ cont.name }}</span>
                </div>
                <span class="percent">{{ cont.contribution | round(2) }}%</span>
            </li>
        {% endfor %}
    </ul>
    <br><hr>
    <div class="chart-container">
        <h2 style="color: #76B3B5;">Dashboard Vizualization</h2>
        <p> This bar chart is made with Chart.js and its based on the emissions in Kgs </p>
        <canvas id="emissions-bar-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Pass Flask variables into JavaScript
        // Pass Flask variables into JavaScript
        const labels = ({{ labels | tojson }});
        const emissions = ({{ emissions | tojson }});
        const percents = ({{ percents | tojson }});

        const barChart = document.getElementById("emissions-bar-chart");
        if(barChart) {
            
            new Chart(barChart, {
                type: 'bar',
                data: {
                    labels: labels, 
                    datasets: [{
                        label: 'Emissions in Kg CO2',
                        data: emissions, 
                        // yet to add teh colors
                        borderwidth: 1
                    }]
                },
                options: {
                    // have an horizontal orientation
                    indexAxis: 'y',
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: { 
                            title: { display: true, text: 'g CO₂e' , color: 'white'},
                            ticks: { color: 'white' }},
                        y: { 
                            title: { display: true, text: 'Food Item' , color: 'white'}, 
                            ticks: { color: 'white' }}
                    }
                }
            });
        }
    </script>

{% endblock %}